
.img2{
    position: absolute;
    top: 10px;
    left: 30px;
    margin-top: 150px;
    margin-left: 200px;
  
    
}
.text1{
    position: absolute;
    top: 10px;
    left: 30px;
    margin-top: 150px;
    margin-left: 500px;
}

